<!DOCTYPE html>
<html>
<head> <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"> <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<h1 class="title is-3">Uh oh!</h1>
<h2>There was an error when trying to log in!</h2>
<a href="/login"> Try again </a>
</body>
</html>