<!DOCTYPE html>
<html>
<head> <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"> <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<h2 class="title is-3">You have been logged out</h2>
<h4 class="title is-4">What would you like to do?</h4>
<a href="/main">View Sams</a> <br>
<a href="/login">Log In</a>
</body>
</html>