<!DOCTYPE html>
<html>
<head> <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"> <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
  <body>
	<h3 class="title is-3">Post a Sam</h3>
    <form action="/post" method="POST">
<div class="message-body">
<input class="input is-medium", type="text" name="content" placeholder="Content">
</div>
<input class="button is-primary is-light" type="submit" value="Post!">
  </body>
</html>